    <div class="card-group d-flex flex-wrap">
      <% posts.each do |posts| %>
      <div class="card my-4 mx-2">
        <%= link_to post_path(posts.id) do %>
          <%= image_tag posts.get_image(100,100) %>
        <% end %>
        <div class="card-body">
          <div class="col-8">
              <p class="card-title">
                <%= link_to(post_path(posts.id), class:"text-dark") do %>
                  <strong><i class="far fa-flag"></i><span> <%= posts.title %></span></strong>
                <% end %>
              </p>
              <p class="card-text">説明：<%= posts.explanation %></p>
              <p class="card-text">ジャンル：<%= posts.genre.name %></p>
              <p><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id), class: "text-dark" %>
              </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

