<!--投稿内容-->
<div class="card-list col-lg-4 col-md-5">
  <div class="card w-100 my-4 shadow-lg">
    <%= link_to post_path(@post.id) do %>
      <%= image_tag @post.get_image(100,100), class:"card-img-top"; %>
    <% end %>

    <div class="card-body">
      <div class="row">

        <div class="col-lg-2">
          <%= image_tag @post.user.get_profile_image(50,50), class:"mt-3 rounded-circle"; %>
        </div>

        <div class="col-10">
          <p class="card-title">
            <%= link_to(post_path(@post.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span><%= @post.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= @post.explanation %></p>

          <p class="card-text">ジャンル：<%= @post.genre.name %></p>

          <p>
            <i class="fas fa-user"></i> By
            <%= link_to user_path(@post.user) ,class: "text-dark" do %>
              <%= @post.user.name %>
            <% end %>
          </p>

          <span id="comment_count"><%= render 'public/post_comments/comment_count', post: @post %> ｜ </span>

          <span class="favorites_buttons_<%= @post.id %>"><%= render 'public/favorites/favorite', post: @post %></span>

          <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>

          <% if @post.user == current_user %>
            <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
<!--投稿に対するコメント-->
<div class=" col-4 pb-4 comments_area">
  <%= render 'public/post_comments/comment', post: @post, post_comment: @post_comment %>
</div>