<div class="container">
  <div class="row justify-content-center py-4">
    <h3><%= @user.name %>さんの詳細</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-5 content-center">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">ID</th>
          <td class="table-active"><%= @user.id %></td>
        </tr>
        <tr>
          <th class="table-active">氏名</th>
          <td class="table-active"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th>
          <td class="table-active"><%= @user.email %></td>
        </tr>
        <tr>
          <th class="table-active">ステータス</th>
          <td class="table-active">
            <% if @user.is_deleted == false %>
             <p class="text-success font-weight-bold">有効</p>
            <% else %>
             <p class="text-secondary font-weight-bold">退会</p>
             <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 text-right">
      <%= link_to "編集する", edit_admin_user_path, class: 'btn btn-success' %>
    </div>
    <div class="col-6 text-left">
      <%= link_to "戻る" , admin_users_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>