<div class='container px-sm-0'>
  <div class='row'>
    <div class='col-lg-2 col-md-2'></div>
    <div class="col-sm-12 col-md-8">
      <h3 class="py-3">マイページ</h3>
      <table class='table table-borderless table-responsive'>
        <tr>
          <th><%= image_tag @user.get_profile_image(100,100),class: "rounded-circle" %></th>
          <th>投稿数</th>
          <th>フォロワー</th>
          <th>フォロー</th>
        </tr>
        <tr>
      	  <th>ユーザー名</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
      	  <th><%= @user.introduction %></th>
        </tr>
      </table>

      <div class='row'>
        <div class="col-sm-12">
          <% if @user.name != "guestuser" %>
            <%= link_to users_info_edit_path, class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </div>
      </div>
    </div>

    <div class='col-lg-3 col-md-2'></div>
  </div>

  <div class="row">
    <div class="col-sm-0 col-lg-8 mx-auto">
      <%= render 'public/posts/post', posts: @posts %>
    </div>
  </div>